@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: hsl(218, 23%, 16%);
    color: hsl(193, 38%, 86%);

    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.faq {
    position: relative;
    width: 65.5rem;
    height: 34.7rem;
    background-color: #fff;
    color: #000;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 1);
    border-radius: 2.1rem;
    display: flex;
    align-items: center;
}

.faq .img {
    position: absolute;
    left: -9rem;
    filter: drop-shadow(5px 10px 10px rgba(0, 0, 0, 0.25));
}

.faq .container {
    width: 100%;
    height: 100%;
    padding: 6rem 5rem 6rem 22.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.faq .container .duvida {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.faq .container h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.faq .container .duvida h2 {
    font-size: 1.7rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

.faq .container .duvida h2:hover {
    color: #f47c57;
}

.faq .container .duvida i {
    color: #A6A6A6;
    font-size: 1.5rem;
    transition:all 0.3s ease-in-out;
}

.faq .container .duvida.exibir i {
    color: #F14624;
    transform: rotate(90deg);
}

.faq .container .duvida p {
    width: 34.7rem;
    font-size: 1.5rem;
    font-weight: 300;
    opacity: 0;
    max-height: 0rem;
    pointer-events: none;
    transition: max-height 0.3s ease-in;
    transition: opacity 0.3s ease-out;
}

.faq .container .duvida.exibir p {
    max-height: 4rem;
    margin-top: 1.5rem;
    opacity: 1;
}

.faq .container .duvida hr {
    margin: 2rem 0;
}

.faq .container .duvida .duvida-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
}